### `Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [9]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

new_list = [[i,j] for i,j in zip(list1, list2)]
print(new_list)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [12]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### `Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy. 

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [26]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for x,y in zip(candy_list, no_of_items):
    print('{}-{}'.format(x,y))

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

### `Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [26]:
list1 = [1,2,3,4,5,6]

sum = 0
res = []

for ele in list1:
    sum = sum + ele
    res.append(sum)
    
print(res)

[1, 3, 6, 10, 15, 21]

### `Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [31]:
L = [2,4,6,10,1]

res = []

for i in L:
    sum = 0
    for j in L:
        if i <= j:
            sum += j
    res.append(sum)
print(res)

[22, 20, 16, 10, 23]

### `Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [40]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

new_num = []

for i in num1:
    if i in num2 and i not in new_num:
        new_num.append(i)
print(sorted(new_num))

[34, 67, 89]

### `Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [132]:
l1 = ['1ac21', '23fg', '456', '098d','1','kls']

pro = []

for i in l1:
    product = 1 
    for char in i:
        if char.isdigit():
            product = product * int(char)
    pro.append(pro)
    
p = [i[1] for i in sorted(list(zip(pro,l1)), reverse=True)]
print(p)

['kls', '456', '23fg', '1ac21', '1', '098d']

In [131]:
l1 = ['1ac21', '23fg', '456', '098d', '1', 'kls']

pro = []
for i in l1:
    product = 1
    for char in i:
        if char.isdigit():
            product *= int(char)
    pro.append(product)
print(pro)
s = [s for _, s in sorted(zip(pro, l1), reverse=True)]
print(s)

[2, 6, 120, 0, 1, 1]
['456', '23fg', '1ac21', 'kls', '1', '098d']

### `Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [56]:
s = ['CampusX is a channel', 'for data-science', 'aspirants.']
K = ' '

new_list = []

for word in s:
    new_list.extend(word.split(K))
print(new_list)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:** 

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [59]:
L = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

l1 = (' '.join([''.join(i) for i in L]))
print(l1)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [11]:
words = ['campusxIs', 'bestFor', 'dataScientist']
result = []

for word in words:
    new_word = [[]] # 2D list
    for char in word:
        
        if char.isupper():
            new_word.append([])
            
        new_word[-1].append(char)
    
    temp_word = ''
    for item in new_word:
        temp_word +=''.join(item) + ' '
    result.append(temp_word[0:-1])

print(result)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [8]:
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]

union = []

for i in l1 :
    if i not in union:
        union.append(i)

for j in l2 :
    if j not in union:
        union.append(j)
        
print(union)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [18]:
l4 = [[1,2,3],[4,5,6],[7,8,9]]

max_nums = []
for row in l4:
    max_nums.append(max(row))
print(max_nums)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [25]:
L = [[(j+3*i) for j in range(0,3)] for i in range(0,3)]
print(L)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [44]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

m = [[row[i] for row in matrix] for i in range(len(matrix))]
print(m)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

m = [numbers for row in matrix for numbers in row]
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9]