### OPERATORS IN PYTHON

In [ ]:
# Arthemetic Operators
# Relational Operators
# Logical Operators
# Bitwise Operators
# Assignment Operators
# Membership Operators

#### ARTHEMETIC OPERATIONS

In [15]:
print(1+2) #Addition
print(2-3) #Subtraction
print(4*20) #Multiplication
print(5/2) #division

# Here Both numbers are integer then answer is integer number otherwise float number and avoiding number after decimal point  
print(5//2.0) #Integer(Truncating) Division or Floor Division
print(5%2) #Modulus remender as output

print(5**2) # Exponetiation

3
-1
80
2.5
2.0
1
25

#### RELATIONAL(COMPARISION) OPERATORS

In [17]:
print(4>5)
print(4<5)
print(4>=5)
print(4<=5)
print(4==4)
print(4!=3)

False
True
False
True
True
True

#### LOGICAL OPERATORS

In [25]:
#1. If both x and y are both 1 then return 1 otherwise o return
# (&& and &)
print(1 and 1) 

#2. If x or y are both 1 then return 1 otherwise o return
# (||)
print(1 or 0)

#3.(!)
print(not 1)

1
1
False

#### BITWISE OPERATORS

In [6]:
# most of the time bitwise operators are use in image processing and computer vision 

# Bitwise and 
print(2 & 3)

# Bitwise or 
print(2 | 3 )

# Bitwise xor
print(2 ^ 3)

# Bitwiase NOT(~)
print(~3)

# Bitwise Right Shift (>>)
print(4>>2)

# Bitwise Left Shift (<<)
print(5<<2)

2
3
1
-4
1
20

#### ASSIGNMENT OPERATORS

In [28]:
#1. = 
# assign 5 to x 
x = 5
y = 4

#2.+=
x += y # x = x + y
print('x = x + y is',x)

#3.-=
x -= 6  # x = x - y
print('x = x - y is',y)

#4.*=
x *= 2  # x = x - y
print('x = x * y is',x)

#5.%=
x %= 5  
print('x = x % y is',x)

#6./=
x /= 6 
print('x = x / y is',x)

#6.**=
x **= 4  
print('x = x ** y is',x)

x = x + y is 9
x = x - y is 4
x = x * y is 6
x = x % y is 1
x = x / y is 0.16666666666666666
x = x ** y is 0.0007716049382716048

#### MEMBERSHIP OPERATORS

In [41]:
#In Python, in and not in are the membership operators.
#They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

#1. in
# -> True if value is found in sequence
l = 'RangeRover'
print('R' in l)

#2. not in 
# ->
print(' ' not in l)

True
True

#### SPECIAL OPERATORS

In [ ]:
# is
# is not

### TASK

In [60]:
# program : find the sum of a 3 digit number entered by the user

num = int(input('Enter the number :'))

# 345%10 -> 5
a = num%10 

# return a value store in num
# value store in num variable is 34
num = num//10

# 34%10 -> 4
b = num%10

# value store in num variable is 3
num = num//10

# 3%10 -> 3
c = num % 10

print('Sum of 3 digit number entered by the user :',a + b + c)

Enter the number :345
Sum of 3 digit number entered by the user : 12

### IF-ELSE IN PYTHON

In [2]:
user_email = input('Enter useremail :')
user_pass = input('Enter userpassord : ')

if user_email == 'aspx@gmail.com' and user_pass == '1234': 
    print("Login Successful")
elif user_email == 'aspx@gmail.com' and user_pass != '1234':
    print('Plz Enter Correct Userpassword')
    user_pass = input('Enter userpassword again :')
    if user_pass == '1234':
        print('login Successfully !!')
    else:
        print('Your Account is lock !')
else: 
    print('Please try again')

Enter useremail :aspx@gmail
Enter userpassord : 1234
Please try again

##### 1.Example of if else & elif :

In [5]:
#1.Find the min of 3 givrn numbers
#2. Menu Driven Program

a = int(input('Enter 1st number : '))
b = int(input('Enter 2nd number : '))
c = int(input('Enter 3rd number : ')) 

if a<b and a<c:
    print('Smallest is',a)
elif b<c :
    print('smallest is',b)
else:
    print('smallest is',c)

Enter 1st number : 90
Enter 2nd number : 23
Enter 3rd number : 54
smallest is 23

##### 2.Example of If Else & elif :

In [4]:
# Create simple Menu Driven Program to calculate addintion ,subtraction multiplication and Divisioin

num1 = int(input('Enter the 1st number :'))
num2 = int(input('Enter the 2nd number :'))

op = input('Enter the operation :')

if op == '+':
    print('Addition is ',num1 + num2)
elif op == '-':
    print('Subtraction is',num1 - num2)
elif op == '*':
    print('Multiplication is',num1 * num2)
elif op == '/':
    print('Division is', num1/num2)
else:
    print('!! Enter valid operation !!')

Enter the 1st number :5
Enter the 2nd number :6
Enter the operation :/
Division is 0.8333333333333334

#####  3.Example of If Else and elif:

In [10]:
# simple atm conversion program menu driven program using if else and elif 
menu = input('''
 Hi , How can help you !
 1. Enter 1 for pin change 
 2. Enter 2 for balance check
 3. Enter 3 for withdrawl
 4. Enter 4 for exist
''')

if menu == '1':
    pin = int(input('Enter pin change '))
    print('Your pin is ',pin)
elif menu == '2':
    print('your balace is 10000$')
elif menu == '3':
    withdrawl_amount = int(input('Enter withdrawl amount :'))
    print('withdrawl amount is',withdrawl_amount)
elif menu == '4':
    print('Existing Successfully')

 Hi , How can help you !
 1. Enter 1 for pin change
 2. Enter 2 for balance check
 3. Enter 3 for withdrawl
 4. Enter 4 for exist
3
Enter withdrawl amount :34
withdrawl amount is  34

### MODULES IN PYTHON

In [6]:
# math
# keywords
# random

In [5]:
# math
import math

print(math.factorial(5))
print(math.floor(6.8))

120
6

In [16]:
# keywords
# show the reserved 
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
# random
# generate random number with the help of this module
import random
print(random.randint(1,100))

74

In [18]:
# Datetime module
# use in pandas

import datetime 
print(datetime.datetime.now())

2022-12-04 11:04:50.288018

### LOOPS IN PYTHON

In [ ]:
# In computer programming, loops are used to repeat a block of code.
# For example, if we want to show a message 100 times, then we can use a loop. 
#There are 2 types of loops in Python:
#1.While loop
#2.For loop

#### WHILE LOOP IN PYTHON

##### EXAMPLE OF WHILE LOOP :

In [7]:
# Program to print the table using while loop .\
# https://pythontutor.com/python-debugger.html#mode=edit
num = int(input('Enter the number :'))
i = 1
while i<11:
    print(num,'*',i ,'=',num * i)
    i += 1

Enter the number :2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#### EXAMPLE OF WHILE LOOP WITH ELSE :

In [8]:
x = 1
while x<3:
    print(x)
    x += 1   
else:
    print('limit crossed')

1
2
limit crossed

#### GUESSING GAME WITH WHILE LOOP AND RANDOM MODULE:

In [1]:
import random

#generate a random number between 1 to 100
jackpot = random.randint(1,100)
#print(jackpot)

Counter = 1

guess = int(input('Guess the number : '))

while guess != jackpot:
    if guess<jackpot:
        print('Guess Higher Number')
    else:
        print('Guess Lower Number')
    
    guess = int(input('Guess the number : '))
    Counter += 1
else:
    print('>>>> Correct Guess <<<<')
    print('Number of attempt :',Counter)

Guess the number : 40
Guess Lower Number
Guess the number : 30
Guess Lower Number
Guess the number : 20
Guess Higher Number
Guess the number : 25
Guess Lower Number
Guess the number : 23
Guess Lower Number
Guess the number : 22
Guess Lower Number
Guess the number : 21
>>>> Correct Guess <<<<
Number of attempt : 7

### FOR LOOP IN PYTHON

In [ ]:
# In Python, the for loop is used to run a block of code for a certain number of times. 
# It is used to iterate over any sequences such as list, tuple, string, etc.
# for loop uses range() function 
# The range() function returns a sequence of numbers between the give range.
# syntax 
# -> range(start, stop, step)

In [25]:
for items in 'OnePiece' :
    print(items)

l = [12,3,4,2,64,33]
for i in l:
    print(i)

O
n
e
P
i
e
c
e
12
3
4
2
64
33

In [13]:
# create a sequence of numbers from 0 to 3
numbers = range(1,11)
num = range(1,20,2)
# iterating through the sequence of numbers
#for i in numbers:
for i in num:
    print(i)

1
3
5
7
9
11
13
15
17
19

#### EXAMPLE OF FOR LOOP:
##### The current population of a town 10000, The popultion of the town is increasing at the rate of 10% per year. You have to write a program to fin out the population at the end o each of the last 10 years.

In [6]:
curr_pop = 10000
for i in range(10,0,-1):
    print(i,':',int(curr_pop))
    curr_pop = curr_pop/1.1

10 : 10000
9 : 9090
8 : 8264
7 : 7513
6 : 6830
5 : 6209
4 : 5644
3 : 5131
2 : 4665
1 : 4240

#### EXAMPLE OF FOR LOOP:
##### Sequence sum  : 1/1! +2/2! + 3/3! +....

In [29]:
st = "attack"
n = len(st)

for i in range(n):
    print(i,':',st[i])
else:
    print('End of the for loop')

0 : a
1 : t
2 : t
3 : a
4 : c
5 : k
End of the for loop

In [13]:
n = int(input('Enter the number :'))

result = 0
fact = 1
for i in range(1,n+1):
    fact = fact * i
    result = result + i/fact
print(result)

Enter the number :3
2.5

### NESTED LOOP IN PYTHON :

In [30]:
# printing unique pair

#outer for loop
for i in range(3):
    print("Outer loop:",i)
    # inner for loop
    for j in range(3):
        print(" >Inner loop :",j)

Outer loop: 0
 >Inner loop : 0
 >Inner loop : 1
 >Inner loop : 2
Outer loop: 1
 >Inner loop : 0
 >Inner loop : 1
 >Inner loop : 2
Outer loop: 2
 >Inner loop : 0
 >Inner loop : 1
 >Inner loop : 2

#### EXAMPLE OF NESTED FOR LOOP :

In [2]:
# [Interview Question]
# pattern :
#*
#**
#***
#****
#*****

rows = int(input('Enter the rows for pattern : '))

for i in range(1, rows + 1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter the rows for pattern : 5
*
**
***
****
*****

In [3]:
# pattern :
#1
#121
#12321
#1234321

rows = int(input('Enter the number of rows :'))

for i in range(1, rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k, end='')
    print()

Enter the number of rows :5
1
121
12321
1234321
123454321

### LOOP CONTROL STATEMENT IN PYTHON :
##### BREAK  STATEMENT:
###### Linear search is a example of break , if we want to search something in database and it found at certain number range then we can break means stop the searching name in database and comes out form database without contiune the searching in the database

In [1]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [1]:
# user give the range and we have to find the prime number between the that range
# 7, 11....
lower = int(input('Enter lower range :'))
upper = int(input('Enter upper range :'))

for i in range(lower , upper+1):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
        print(i)

Enter lower range :10
Enter upper range :100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

##### CONTINUE STATEMENT 
##### The 'continue' statement is used to skip the current iteration of the loop and the control flow of the program goes to the next iteration.

In [3]:
# Example : Skip the product in 
# Continue
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

##### PASS STATEMENT :
###### In Python programming, the pass statement is a null statement which can be used as a placeholder for future code.
###### Suppose we have a loop or a function that is not implemented yet, but we want to implement it in the future. In such cases, we can use the pass statement.

In [5]:
for i in range(1,10):
    pass

#### NOTE : while vs for loop
#### While loop has cartetia to stop the loop means it has condition to stop 
#### V/S
#### For loop use for iterate with or without condition