### STRINGS IN PYTHON :

In [5]:
#1. String is a sequence of characters
# In python specifically, strings are a sequence of Unicode Characters.
# Diff ASCII(based on 8 bits) Vs Unicode(based on 16 bits : Store more characters)
#

#### CREATING STRINGS :

In [6]:
# Empty string
S = ''
Single_quotes = 'allows embedded "double" quotes'

Double_quotes = "allows embedded 'single' quotes"

Triple_quoted = '''Three single quotes  """Three double quotes"""'''

s = str(7s)
print(s)
print(Single_quotes)
print(Double_quotes)
print(Triple_quoted)

Hello
allows embedded "double" quotes
allows embedded 'single' quotes
Three single quotes  """Three double quotes"""

#### ACCESSING STRINGS USING INDEXING:

In [4]:
#Positive Indexing (Left to right access the index of string)
# Stat form 0 to n
s = 'ATTACK_ON_TITAN'
print('String : ',s)
print('Positive indexing')
print(s[5])
print(s[4])
print(s[8])

#Negative Indexing (right to left access the index of string)
# negative index start from -1 and Stat form end of the string 
print('Negative indexing')
print(s[-1])
print(s[-4])
print(s[-7])

String :  ATTACK_ON_TITAN
Positive indexing
K
C
N
Negative indexing
N
I
N

##### SLICING :
##### Slicing is done in a string to obtain sub-strings of the original string. Python allows us to specify where to start slicing, and where to end. Also, we can specify the step value as shown in the below syntax.
##### Syntax: 
###### string_object[start : stop : steps]
###### Here, slicing starts from the index 'start' and ends at the index 'stop' in the step of 'steps'. The default value for
###### start - 0
###### stop - the last index of the string and
###### step - 1

In [14]:
s = 'ATTACK_ON_TITAN'
# positive 
print(s[1:6])
print(s[:9])
print(s[1:6:2])

#  negative
print(s[8::-1])
print(s[-5:])
print(s[-1:-6:-1])
print(s[::-1])

TTACK
ATTACK_ON
TAK
NO_KCATTA
TITAN
NATIT
NATIT_NO_KCATTA

#### EDITING A STRINGS:

In [24]:
# string is a immutable(not changeble)
s  = 'Hello world'
s[0] = 'h'

TypeError: 'str' object does not support item assignment

In [30]:
s = str(input('Enter the number :'))
l = len(s)
print(l)
for a in range(-1,(-l-1),-1):
    print(s[a])

Enter the number :efkfn

TypeError: 'str' object is not callable

#### DELETING A STRINGS:

In [ ]:
s = 'hello wolrld'
del s
#print(s)

#### OPERATIONS ON STRINGS :
##### Arithemetic Operations : + ,*
##### Relational Operations : all work on strings
##### Logical Operations :
##### Loops on strings :
##### Membership operations:

In [23]:
#Arithemetic Operation : + ,* 

#string concatination
print('ATTACK' + ' ' + 'ON' + ' ' + 'TITAN')
print('TATAKAE' *10)
print()

#Relational Operations : all work on strings
print('delhi'=='delhi')


print('mumbai' > 'pune')
print('Pune' > 'pune')

#Logical Operations :
" " or 'Hello'
print(" " and 'hello')
print()

#Loops on strings :
for i in 'delhi':
    print('pune')
    
print()
#Membership operations: in ,not in
print('D' in 'Delhi')
print('D' not in 'Delhi')

ATTACK ON TITAN
TATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAE

True
False
False
hello

pune
pune
pune
pune
pune

True
False

True
False

#### STRING FUNCTIONS :
##### common functions : it's works on other datatypes like tuple, set ,dictionary ,list
###### len() , max() , max() ,sorted()

In [3]:
# len() 
# ->  len() function returns the length of a string
# -> Count space also
s  = "ATTACK"
print("Here length of the 'ATTACK' is ",len(s))

Here length of the 'ATTACK' is  6

In [4]:
# max()
# max character in string
s = 'Attack On TiTan'
print(max(s))

t

In [6]:
# min()
# min character in string based on ascii values
s1 = 'Attack On TiTan'
min(s1)

' '

In [10]:
# sorted()
# -> sorted() function returns a sorted list of the specified iterable object.
# You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.
Vs = 'Attack On Titan'
print(sorted(s))
print()
s = 'Attack On Titan'
print(sorted(s, reverse = True))

[' ', ' ', 'A', 'O', 'T', 'T', 'a', 'a', 'c', 'i', 'k', 'n', 'n', 't', 't']

['t', 't', 't', 'n', 'n', 'k', 'i', 'c', 'a', 'a', 'T', 'O', 'A', ' ', ' ']

#### Capitalize() / Title() / Upper() / lower() / Swapcase() :

In [13]:
# capitalize() :
# first character of string is in Upper case
s = 'eren'
s.capitalize()

'Eren'

In [15]:
# Title() :
# Every world of string first character is in Upper case
s = 'attack on titan'
s.title()

'Attack On Titan'

In [17]:
# Upper() :
# convert the lowercase string into the Uppercase string
s = 'eren'
s.upper()

'EREN'

In [23]:
# lower() :
# convert the uppercase string into the loercase string
s = 'EReN'
s.lower()

'eren'

In [24]:
# swapcase()
# lowercaser coverted into uppercase and vis versa
s = 'EReN'
s.swapcase()

'erEn'

#### count() / find() / index() :

In [28]:
# count() 
#count() Returns the number of times a specified value occurs in a string
s = 'Returns the number of times a specified value occurs in a string'
print(s.count('i'))
print(s.count(' '))

5
11

In [1]:
#find()
# Searches the string for a specified value and returns the position of where it was found.
# The find() method finds the first occurrence of the specified value.
# The find() method returns -1 if the value is not found.
# The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)
# syntax : string.find(value, start, end)


s = 'Searches the string for a specified value'
print(s.find('for'))
print(s.find('the',5,20))
print(s.find('z')) # -1

20
9
-1

In [37]:
# index()
# The index() method finds the first occurrence of the specified value.
# The index() method raises an exception if the value is not found.
# The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

s = 'Searches the string for a specified value'
print(s.index('e'))
print(s.index('the',5,20))
print(s.index('z')) # error

1
9

ValueError: substring not found

##### Endswith() / Startswith() :

In [15]:
# endswith() :
#The endswith() method returns True if the string ends with the specified value, otherwise False.
# syntax :  string.endswith(value, start, end)
s = 'The endswith() method returns True if the string ends with'
print(s.endswith('so'))
print(s.endswith('with'))
x = s.endswith('returns', 0 ,19)
print(x)

False
True
False

In [14]:
# startswith():
# The startswith() method returns True if the string starts with the specified value, otherwise False.
# syntax : string.startswith(value, start, end)
s = 'The startswith() method returns True if the string starts with'
print(s.startswith('T'))
x = s.startswith('The', 0 ,20) 
print(x)

True
True

#### String formatting
#### format() method :
##### The format() method formats the specified value(s) and insert them inside the string's placeholder.
###### The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.
##### The format() method returns the formatted string.
##### syntax : string.format(value1, value2...)

In [24]:
first_name = input('Enter the first name : ')
age = int(input('Enter the age :'))

x = "My name is {} and i'm {} years old."
print(x.format(first_name,age))

print('{0} {1}'.format(0,1))

print('{n1} {n2}'.format(n1=20,n2=90))

Enter the first name : akash
Enter the age :21
My name is akash and i'm 21 years old.
0 1
20 90

#### String Methods / Functions :
#### replace() / split() / join()

In [28]:
# replace():
# The replace() method replaces a specified phrase with another specified phrase.
# Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.
# syntax "string.replace(oldvalue, newvalue, count)

txt = 'HTML is a programming language'
x = txt.replace('programming','markup')
print(x)
print()
txt1 = "one one was a race horse, two two was one too."
print(txt1)

x1 = txt1.replace("one", "three", 2)

print(x1)

HTML is a markup language

one one was a race horse, two two was one too.
three three was a race horse, two two was one too.

In [38]:
#split():
# The split() method splits a string into a list.
# You can specify the separator, default separator is any whitespace.
# Note: When maxsplit is specified, the list will contain the specified number of elements plus one.
# syntax : string.split(separator, maxsplit)

txt = "Hello everyone , My name is Akash, I am 21 years old"
x = txt.split()
x1 = txt.split('e')
print(x)
print(x1)

['Hello', 'everyone', ',', 'My', 'name', 'is', 'Akash,', 'I', 'am', '21', 'years', 'old']
['H', 'llo ', 'v', 'ryon', ' , My nam', ' is Akash, I am 21 y', 'ars old']

In [41]:
# join() :
# The join() method takes all items in an iterable and joins them into one string.
# A string must be specified as the separator.
# syntax : string.join(iterable)

txt = "Hello everyone , My name is Akash, I am 21 years old"
x = txt.split('e')
print(x)
'e'.join(x)

['H', 'llo ', 'v', 'ryon', ' , My nam', ' is Akash, I am 21 y', 'ars old']

'Hello everyone , My name is Akash, I am 21 years old'

#### Stirp()

In [42]:
#strip():
# The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)
# syntax :string.strip(characters)

txt = '    eren     '
x = txt.strip()
print(x)

eren

#### isalnum()/ isalpha() / isdigit() / isidentifier()

In [8]:
# isalnum() :
# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
# Example of characters that are not alphanumeric: (space)!#%&? etc.
# syntax : string.isalnum()

#s = 'Akash07' # True
#s = 'Akash' # True
s = 'Akash$3' # False
s.isalnum()

False

In [20]:
# isalpha():
# The isalpha() method returns True if all the characters are alphabet letters (a-z).
#Example of characters that are not alphabet letters: (space)!#%&? etc.
#Syntax : string.isalpha()

#s = 'Akash07' # False
# s = 'Akash$3' # False
# s = 'Akash' # True
s.isalpha()

True
True
True

In [21]:
# isdigit()
# The isdigit() method returns True if all the characters are digits, otherwise False.
# Exponents, like ², are also considered to be a digit.
# Syntax : string.isdigit()

# s = '07' # Ture
# s = 'Akash$03' # False
s = 'Akash' # True
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
print(s.isalpha())
print(a.isdigit())
print(b.isdigit())

True
True
True

In [23]:
# isidentifier()
# The isidentifier() method returns True if the string is a valid identifier, otherwise False.
# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.
# Syntax : string.isidentifier()

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"
e = "_My_"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())
print(e.isidentifier())

True
True
False
False
True

### STRINGS EXAMPLES :

In [ ]:
#1.Find the length of a given string without using the len() function.

In [ ]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

In [ ]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [ ]:
# Write a program which can remove a particular character from a string.

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

In [ ]:
# Write a program to count the number of words in a string without split()

In [ ]:
# Write a python program to convert a string to title case without using the title()

In [ ]:
# Write a program that can convert an integer to string.