### STRINGS IN PYTHON :

In [5]:
#1. String is a sequence of characters
# In python specifically, strings are a sequence of Unicode Characters.
# Diff ASCI(based on 8 bits) Vs Unicode(based on 16 bits : Store more characters)
# 
#
#
#
#
#

#### CREATING STRINGS :

In [6]:
# Empty string
S = ''
Single_quotes = 'allows embedded "double" quotes'

Double_quotes = "allows embedded 'single' quotes"

Triple_quoted = '''Three single quotes  """Three double quotes"""'''

s = str(7s)
print(s)
print(Single_quotes)
print(Double_quotes)
print(Triple_quoted)

Hello
allows embedded "double" quotes
allows embedded 'single' quotes
Three single quotes  """Three double quotes"""

#### ACCESSING STRINGS USING INDEXING:

In [4]:
#Positive Indexing (Left to right access the index of string)
# Stat form 0 to n
s = 'ATTACK_ON_TITAN'
print('String : ',s)
print('Positive indexing')
print(s[5])
print(s[4])
print(s[8])

#Negative Indexing (right to left access the index of string)
# negative index start from -1 and Stat form end of the string 
print('Negative indexing')
print(s[-1])
print(s[-4])
print(s[-7])

String :  ATTACK_ON_TITAN
Positive indexing
K
C
N
Negative indexing
N
I
N

##### SLICING :
##### Slicing is done in a string to obtain sub-strings of the original string. Python allows us to specify where to start slicing, and where to end. Also, we can specify the step value as shown in the below syntax.
##### Syntax: 
###### string_object[start : stop : steps]
###### Here, slicing starts from the index 'start' and ends at the index 'stop' in the step of 'steps'. The default value for
###### start - 0
###### stop - the last index of the string and
###### step - 1

In [14]:
s = 'ATTACK_ON_TITAN'
# positive 
print(s[1:6])
print(s[:9])
print(s[1:6:2])

#  negative
print(s[8::-1])
print(s[-5:])
print(s[-1:-6:-1])
print(s[::-1])

TTACK
ATTACK_ON
TAK
NO_KCATTA
TITAN
NATIT
NATIT_NO_KCATTA

#### EDITING A STRINGS:

In [24]:
# string is a immutable(not changeble)
s  = 'Hello world'
s[0] = 'h'

TypeError: 'str' object does not support item assignment

In [30]:
s = str(input('Enter the number :'))
l = len(s)
print(l)
for a in range(-1,(-l-1),-1):
    print(s[a])

Enter the number :efkfn

TypeError: 'str' object is not callable

#### DELETING A STRINGS:

In [ ]:
s = 'hello wolrld'
del s
#print(s)

#### OPERATIONS ON STRINGS :
##### Arithemetic Operations : + ,*
##### Relational Operations : all work on strings
##### Logical Operations :
##### Loops on strings :
##### Membership operations:

In [23]:
#Arithemetic Operation : + ,* 

#string concatination
print('ATTACK' + ' ' + 'ON' + ' ' + 'TITAN')
print('TATAKAE' *10)
print()

#Relational Operations : all work on strings
print('delhi'=='delhi')


print('mumbai' > 'pune')
print('Pune' > 'pune')

#Logical Operations :
" " or 'Hello'
print(" " and 'hello')
print()

#Loops on strings :
for i in 'delhi':
    print('pune')
    
print()
#Membership operations: in ,not in
print('D' in 'Delhi')
print('D' not in 'Delhi')

ATTACK ON TITAN
TATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAETATAKAE

True
False
False
hello

pune
pune
pune
pune
pune

True
False

True
False

#### STRING FUNCTIONS :
##### common functions : it's works on other datatypes like tuple, set ,dictionary ,list
###### len() , max() , max() ,sorted()

In [3]:
# len() 
# ->  len() function returns the length of a string
# -> Count space also
s  = "ATTACK"
print("Here length of the 'ATTACK' is ",len(s))

Here length of the 'ATTACK' is  6

In [4]:
# max()
# max character in string
s = 'Attack On TiTan'
print(max(s))

t

In [6]:
# min()
# min character in string based on ascii values
s1 = 'Attack On TiTan'
min(s1)

' '

In [10]:
# sorted()
# -> sorted() function returns a sorted list of the specified iterable object.
# You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.
Vs = 'Attack On Titan'
print(sorted(s))
print()
s = 'Attack On Titan'
print(sorted(s, reverse = True))

[' ', ' ', 'A', 'O', 'T', 'T', 'a', 'a', 'c', 'i', 'k', 'n', 'n', 't', 't']

['t', 't', 't', 'n', 'n', 'k', 'i', 'c', 'a', 'a', 'T', 'O', 'A', ' ', ' ']