### TUPLES IN PYTHON :

1.A tuple in Python is similar to a list.

2.The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

3.In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

4. It occupies less memory compare to list.

#Characterstics
 1.Ordered
 2.Unchangeble
 3.Allows duplicate

#### CREATING TUPLES :

In [15]:
# A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.

# empty tuple
t = ()
print(t)

# creating single item tuple
t1 = (2)## worng way
print(t1, type(t1))
t2 = (2,) # right way to create single item tuple
print(t2,type(t2))

# Homogenous
t3 = (1,2,3,4)
print(t3)

# Heterogenous
t4 = (1, "Hello",[45,7.9],3.4, 3+6j)
print(t4)

# nested tuple
t5 = (1, "Hello",(93,4,5,'ASP',45.55),3.4, 3+6j)
print(t5)

# 2d tuple
t6 = (1,2,3,(4,5))
print(t6)

# using type convertion
t7 = tuple('hello')
print(t7,type(t7))

()
2 <class 'int'>
(2,) <class 'tuple'>
(1, 2, 3, 4)
(1, 'Hello', [45, 7.9], 3.4, (3+6j))
(1, 'Hello', (93, 4, 5, 'ASP', 45.55), 3.4, (3+6j))
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o') <class 'tuple'>

#### ACCESSING ITEMS :
##### It is similar to lists 
##### Indexing
##### Slicing

In [29]:
# indexing (list indexing is similar to string indexing)
# > positive indexing (left to right and start from zero)
t = (1,2,3,4)
print(t)
print(t[3])

# > nagetive indexing (Righ to left and start from end of list means -1)
t = (1,2,3,4,7)
print(t[-1],t[-3])

# 2d indexing 
t1 = (1,2,3,(4,5),9)
print(t1[3][1])

#3d indexing
t3 = (((1,2),(3,4)),((5,6),(7,8)))
print(t3[0][1][1])
print(t3[0][0][1])

print()

# Sclicing
print(t1,":",t1[1:4])
print(t1,":",t1[::-1]) # reverse tuple
print(t1,":",t1[-4::])
print(t3,":",t3[0:1])
print(t3,":",t3[-1::])

(1, 2, 3, 4)
4
7 3
5
4
2

(1, 2, 3, (4, 5), 9) : (2, 3, (4, 5))
(1, 2, 3, (4, 5), 9) : (9, (4, 5), 3, 2, 1)
(1, 2, 3, (4, 5), 9) : (2, 3, (4, 5), 9)
(((1, 2), (3, 4)), ((5, 6), (7, 8))) : (((1, 2), (3, 4)),)
(((1, 2), (3, 4)), ((5, 6), (7, 8))) : (((5, 6), (7, 8)),)

##### EDITING ITEMS  :

In [30]:
# tuple is inmutable just like strings
print(t1)
t1[3] = 20
print(t1)

(1, 2, 3, (4, 5), 9)

TypeError: 'tuple' object does not support item assignment

##### ADDING ITEMS :

In [33]:
# tuple is inmutable just like strings
# We concatinate new/same tuple 
# both tuple has different id
a = (1,2,'s')
b = ('ASP',45,3+5j)
c = a + b
print(c)

(1, 2, 's', 'ASP', 45, (3+5j))

##### DELETING ITEMS :

NameError: name 't3' is not defined

##### OPERATIONS ON TUPLES :

##### TUPLE FUNCTION / METHODS :

##### DIFFERENCE BETWEEN LISTS AND TUPLES :

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

##### WHY USE TUPLE ?

##### SPECIAL SYNTAX OF TUPLES :