### SESSION 1 - Fundamentals Of Python

#### PYTHON BASIC : ( print any value or string & print statement )

In [1]:
print('akash')

akash

In [2]:
print(7.7)

7.7

In [3]:
print(True)

True

In [1]:
print('My name is Akash',"and i'm 21 years old !")

My name is Akash and i'm 21 years old !

In [6]:
print('Akash',7.7,False)

Akash 7.7 False

In [10]:
print('Akash',7.7,False,sep="/")

Akash/7.7/False

In [12]:
print('Eren Yegaer',end=' ')
print('Grisha Yegear')

Eren Yegaer Grisha Yegear

In [19]:
print('Eren Yegaer', end = " ")
print('Grisha Yegear', end=' ')
print('Zeke Yeagear')

Eren Yegaer Grisha Yegear Zeke Yeagear

#### DATATYPES IN PYTHON :

In [2]:
#1.Integer
print(8)

8

In [4]:
#2.Decimal/Float
print(3.44)

3.44

In [5]:
#3.Boolean
print("It's boolean",True)
print("It's boolean",False)

It's boolean True
It's boolean False

In [6]:
#3.Text / String
print('Attack On Titan')

Attack On Titan

In [9]:
#4.Complex 
print('it is complex numbers :',3+5j)

it is complex number : (3+5j)

In [10]:
#5.List   
print('Lists :',[1,2,3,4,5])

List : [1, 2, 3, 4, 5]

In [11]:
#6.Tuple
print("Tuples :",(1,2,3,4,5))

Tuple : (1, 2, 3, 4, 5)

In [14]:
#7.Sets
print('Sets :',{5,4,3,2,1})

Sets : {1, 2, 3, 4, 5}

In [15]:
#8.Dictionary
print('Dictionary : ',{1:'AOT', 2:'OPM', 3:'OP'})

Dictionary :  {1: 'AOT', 2: 'OPM', 3: 'OP'}

In [ ]:
##TYPE FUNCTION

In [16]:
print('string')

string

In [17]:
print(type('string'))

<class 'str'>

In [19]:
print(type(454.76))

<class 'float'>

#### VARIABLES IN PYTHON :

In [ ]:
# Static & Dynamic Typing [Inteview Question]
# Static Vs Dynamic Binding
# Stylish decalartion Techniquies

In [22]:
a = 3 
b = 5
print('Here a = 3 and b = 5 ,Then addition of is',a + b,'.')

Here a = 3 and b = 5 ,Then addition of is 8 .

In [ ]:
# [Interview Question]
# Dynamic Typing 
#-> compaire to other language, python interpreter hold or identifies the datatype of the variable, so we don't need's to type variales

In [ ]:
# [Interview Question]
# Static Typing 
#-> In Static Typing , we declare the datatype of the variable vairable like in c/C++ , java

In [27]:
# [Interview Question]
# Dynamic Biding 
#-> In python , we don't have fixed data type so according to requirement we can changed the datatype
# for e.g.
a = 5
print('a =',a)

a = 'AOT'
print('a =',a)

a = 5
a = AOT

In [ ]:
# [Interview Question]
# Static Biding 
#-> In c/c++, Java, we have fixed data type so we can't changed the datatype

In [31]:
# eg.
x ,y, z = 5, 4, 3
print(z,x,y)

a = b = c = 78
print(a)
print(c)

3 5 4
78
78

#### COMMENTS IN PYTHON :

In [32]:
# This is single line comment
print('Attack On Titan')

Attack On Titan

#### KEYWORDS & IDENTIFIERS :

In [ ]:
#Keywords
#-> Reserved keywords

In [1]:
# Identifires
#->
Name = 'Eren Yeager'
print(Name)

Eren Yeager

#### TYPE CONVERSION :

In [14]:
#Implicit
# Python automatically converts one data type to another.

print(5 + 5.6)
print('string' + '5')

10.6
string5

In [33]:
# Explicit
# Explicit Conversion - manual type conversion
# built-in functions like int(), float(), str(),

# str -> int
a = '5'
print(type(int(a)))

#float -> int
b = 5.6
print(type(int(b)))

c = 9 
print('int -> str :',type(str(c)))

<class 'int'>
<class 'int'>
int -> str : <class 'str'>

#### USER INPUT :

In [3]:
#Static & Dynamic
input('Enter your name :')

Enter your name :Eren

'Eren'

In [37]:
# take input from users and store them in a vaariale
#add the 2 variable and print the result

var1 = int(input('First number :'))
var2 = int(input('Last number :'))

#print(type(var1), type(var2))
result = var1 + var2

print('Result is',result)

First number :8
Last number :9
Result is 17

#### LITERALS :

In [38]:
#None
#None is used to define a null value or Null object in Python. It is not the same as an empty string, False, or a zero. It is a data type of the class
#None is not the same as False.
#None is not 0.
#None is not an empty string.
#Comparing None to anything will always return False except None itself.
k = None
a = 4
b = 6
print('Program executed')

Program executed